*{transition: all .3s ease-in-out;font-family: 'Din';}
body{
  height: 100vh;
  overflow: hidden;
  background: #fff;
  color: #A7B5BF;
  font-family: 'Din';
}
main{height:calc(84vh - 45px);}
/* ========================= HEADER / MENU ========================= */
header{position: fixed;top:0;z-index:999;}
header label.open-menu, header label.close-menu{
  display: block;
  width: 32px;
  height: 32px;
  margin-top: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  background: #9DD168;
  color: #fff;

  line-height: 32px;
  text-align: center;
}
header label i.icon-sort{
  font-size: 18px;
  line-height: 32px;
}
/* ===== Toggle Menu system ===== */
ul#menu::before{
  content: '';
  position: absolute;
  z-index: 4;

  display: block;
  width: 3px;
  height: 100vh;

  background: #9DD168;
}
ul#menu{
  position: absolute;
  top: 0;
  z-index: 999;

  display: flex;
  flex-direction: column;
  width: 3px;
  height: 100vh;
  overflow: hidden;

  background: #9DD168;

  text-align: center;
}
ul#menu label.close-menu{margin-left: 0;line-height: 34px;}
ul#menu li{margin: auto;}
ul#menu .menu-link{
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  opacity: 0;
}
#menu:checked ~ ul#menu{width:90vw;overflow:initial;}
#menu:checked ~ ul#menu .menu-link{opacity: 1}
#menu:checked ~ ul#menu label.close-menu{margin-left:88vw;}
/* ========================= TITLE ========================= */
section.title{
  margin: 0px 40px 20px;
  padding-top: 23px;
}
section.title h1{
  color: #9DD168;

  font-size: 24px;
  text-transform: uppercase;
}
section.title h2{
  font-size: 18px;
}
.city-name{display: none;}
/* ========================= ITEMS ========================= */
section#coffee-list{
  position: relative;

  width: 100vw;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}
section#coffee-list div.coffee{
  position: absolute;

  width: 85%;
  height: 98%;
  border-radius: 10px;

  background: #fff;
  box-shadow: 0px 3px 6px rgba(0,0,0,.16);
}
section#coffee-list div.coffee div.img{
  display: block;
  width: 100%;
  height: 70%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  background-size: cover;
}
section#coffee-list div.coffee div.details{
  position: absolute;
  bottom: 48px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;

  background: white;

  text-align: center;
}
section#coffee-list div.coffee div.details h3{
  padding-bottom: 15px;

  color: #9DD168;

  font-size: 20px;
  text-transform: uppercase;
}
section#coffee-list div.coffee div.details p{
  font-size: 15px;
}
section#coffee-list div.coffee div.details p.opening{
  color: #303549;
}
section#coffee-list div.coffee a.direction{
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 48px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 3px solid rgba(48,53,73,.1);

  background: #9DD168;
  color: #fff;

  text-align: center;
  text-transform: uppercase;
  line-height: 42px;

  cursor: pointer;
}
/* ========================= FOOTER ========================= */
footer{
  display: none;
  text-align: center;
}
footer a{
  color: #A7B5BF;
  font-size: 15px;
  line-height: 15px;
  vertical-align: bottom;
}
footer a i{vertical-align: middle;}
